/node_modules
/.cache
/dist
/sounds/impulse-responses
/sounds/piano-samples/*v1.mp3
/sounds/piano-samples/*v2.mp3
/sounds/piano-samples/*v3.mp3
/sounds/piano-samples/*v4.mp3
/sounds/piano-samples/*v6.mp3
/sounds/piano-samples/*v7.mp3
/sounds/piano-samples/*v8.mp3
/sounds/piano-samples/*v9.mp3
/sounds/piano-samples/*v11.mp3
/sounds/piano-samples/*v12.mp3
/sounds/piano-samples/*v13.mp3
/sounds/piano-samples/*v14.mp3
/sounds/piano-samples/*v16.mp3